doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Add a New Book
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet")
  body
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")

    .container.mt-5
      h1.mb-4 Add a New Book
      form#addBookForm(action="/api/books" method="POST")
        .form-group
          label(for="title") Title *:
          input.form-control(type="text" id="title" name="title" required)
        .form-group
          label(for="author") Author:
          input.form-control(type="text" id="author" name="author")
          small#authorHelpText.form-text.text-muted Optional
        .form-group
          .form-check
            input.form-check-input(type="checkbox" id="currentlyReading" name="currentlyReading")
            label.form-check-label(for="currentlyReading") Currently Reading?
        // TODO add metadata fields
        button.btn.btn-primary(type="submit") Add Book
    
    script.
      const form = document.getElementById("addBookForm");

      const serialize_form = form => JSON.stringify(
        Array.from(new FormData(form).entries())
          .reduce((m, [ key, value ]) => Object.assign(m, { [key]: value }), {})
      );

      $('#addBookForm').on('submit', function(event) {
        event.preventDefault();
        const json = serialize_form(this);
        $.ajax({
          type: 'POST',
          url: '/api/books',
          dataType: 'json',
          data: json,
          contentType: 'application/json',
          success: function(data) {
            if (window.confirm(data.message)) {
              window.location.assign('/books');
            }
          },
          error: function(jqXHR, textStatus, errorThrown) {
            alert(jqXHR.responseJSON.message)
          }
        })
      });
