<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>🦶 Books</title>
</head>
<body class="body-class">
  <link rel="stylesheet" type="text/css" href="stylesheets/landing-page.css" />
  <header class="header-class">
    <h1>🦶 Books</h1>
  </header>
  <div class="container-class">
    <h2>About Us</h2>
    <p>🦶 🥚</p>
    <h2>Currently Reading:</h2>
    <p>TBD</p>
  </div>
  <footer class="footer-class">
    <p>&copy; 2023 Foot Slack.</p>
  </footer>
</body>
</html>
  